body {
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.nav-main{
    background-color: #FFEFBA;
    font-size:  17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.main-imag{
    width: 500px;
    
}
.main-img{
    width: 80px;
    margin-left:200px ;

}

.main-fondo{
    background-color: antiquewhite;
}

.container{
    width: 90%;
    margin: auto;
}

h1{
    color: red
}
